<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<div>
	<p>Please complete the checkout you just tried.</p>
	<a href="<%= @abandoned_link %>">Click here</a>
</div>