<% content_for :meta do %>
<meta name="description" content="Learn more about Travelog. Malaysia popular Travel Marketplace offering cheap packages with detailed itinerary for you to travel around Malaysia.">
<% end %>

<% content_for :page_title do %>
About - Travelog.com
<% end %>

<section class="header-11-sub profile-page">
	<div class="container">
		<div class="row ">
			<div class="col-md-3">
				<ul class="sidebar-static">
					<li><a href="">About Us</a></li>
					<!-- <li><a href="">Founders</a></li> -->
				</ul>
			</div>

			<div class="col-md-9 aboutus-content">

				<h1 class="h4-behave">About Us</h1>
				<hr>
				<h6>We help you to discover and book amazing things to do.</h6><br>
				<h6>
				We know that an unforgettable trip is built on the special experiences you share with friends and family. Yet these activities are often difficult to find and even more challenging to book.</h6><br>
				<h6>
				We're changing this. We carefully curate our offering of high-quality activities, display them beautifully, and make them easily bookable online via computer, tablet or mobile phone. We're dedicated to making travel planning enjoyable, so you can focus on what matters – creating memories that will last a lifetime.</h6>

				
			</div>
		</div>
	</div>
</section>


