<% content_for :meta do %>
<meta name="description" content="Let us know how can we help you!">
<% end %>

<% content_for :page_title do %>
Contact Us - Travelog.com
<% end %>
<div class="side-collapse-container">
	<section class="header-11-sub profile-page">
		<div class="container">
			<div class="row ">
				<div class="col-md-3">
					<ul class="sidebar-static">
						<li><a href="">Contact</a></li>
						
					</ul>
				</div>

				<div class="col-md-9 contactus-content">


					<h1 class="h4-behave">Contact Us</h1>
					<hr>
					<h6>We want you to be worry free<br>
						<br>
						Contact us if you have any questions or problems when book in our website.
					</h6>

					<h6>You can contact us</h6>


					<br>
					
					<h6>Phone: <strong>+603-8081 5671</strong></h6>
					<h6>Call/WhatsApp: <strong>+6013-5418888</strong></h6>
					<h6><a href="mailto:support@travelog.com">support@travelog.com</a></h6>
					<br>
					<h6>Travelog.com</h6>
					<h6>2A-C, JALAN USJ 10/1A, SUBANG JAYA</h6>
					<h6>47620, SELANGOR</h6>

					<span>Working Hours: Mon-Fri, 9am-6pm (GMT+8) Malaysia Time</span>


				</div>

				

				
			
			</div>
		</div>
	</section>
</div>