
<% content_for :page_title do %>
Merchant Getting Started - Travelog.com
<% end %>

<div id="content" class="clear" aria-hidden="false">
<div class="hero position-relative text-center text-white">
	<div class="hero-text vertical-center position-absolute position-left width-full">
        <div class="col-group">

            <div class="col-xs-12 col-md-9 col-lg-8 col-xl-6 col-tv-5 col-centered mb-xs-5">
                <h1 class="h1 very-large-text">
                    <p>Join The Fastest Growing Marketplace in Asia</p>
                </h1>
            </div>
            <a href="/become_merchant" class="btn btn-white pl-xs-4 pr-xs-4 x_sell-on-tvlg inline-overlay-trigger create-shop-action" data-event-attributes="{}">
                Get Started
            </a>
        </div>
    </div>
</div>

<div class="mainstack">
	<section id="intro" class="section bg-white text-center bt-xs-1">
		<div class="body-max-width-980">
            <div class="col-group">
                <div class="col-xs-12 col-lg-11 col-xl-10 col-centered">
                    <h1 class="h1 mb-xs-8 text-gray pb-xs-2">
                            
                                Launch your online store & boost your sales!
                            
                    </h1>
                </div>
            </div>
            <div class="intro-props col-group mb-xs-8">
                <div class="col-xs-12 col-md-4">
                    <div class="pl-xs-2 pr-xs-2">
                        <img src="https://s3-us-west-2.amazonaws.com/travelog/assets/price.svg" width="150" data-pin-nopin="true">
                    </div>
                    <h2>0% Fees</h2>
						<p>We don't charge our Merchants for listing their products!</p>
                    <p>
                       
                    </p>
                </div>

                <div class="col-xs-12 col-md-4">
                    <div class="pl-xs-2 pr-xs-2">
                        <img src="https://s3-us-west-2.amazonaws.com/travelog/assets/tools.svg" width="150" data-pin-nopin="true">
                    </div>
                    <h2>Track Your Sales</h2>
						<p>Simple & user-friendly system allows you to control your sales in real time!</p>
                    <p>
                       
                    </p>
                </div>

                <div class="col-xs-12 col-md-4">
                    <div class="pl-xs-2 pr-xs-2">
                        <img src="https://s3-us-west-2.amazonaws.com/travelog/assets/support.svg" width="150" data-pin-nopin="true">
                    </div>
                    <h2>Support</h2>
						<p>We provide you complex guidance & support and help you to reach the customers all around the world!</p>
                    <p>
                        
                    </p>
                </div>

            </div>

            <div class="pl-xs-2 pr-xs-2 pt-xs-8">
                <div class="p-xs-4 pl-xs-6 pr-xs-6 display-inline-block">
                    <div class="intro-cta-image bg-white display-inline-block pl-xs-4 pr-xs-4">
                       
                    </div>
                    <h4 class="text-gray-lighter mt-xs-2 mb-xs-3">
                       
                    </h4>
                    <a href="/become_merchant" class="btn btn-success btn-search pl-xs-4 pr-xs-4 x_sell-on-tvlg inline-overlay-trigger create-shop-action">
                        Set Up Your Store Now
                    </a>
                </div>
            </div>

        </div>
	</section>

	<section id="fees" class="section outer bg-blue text-white text-center bt-xs-1">
        <div class="body-max-width-980">
            <h1 class="h1 mb-xs-8">FREE, EASY & SECURE</h1>
            <div class="text-center mb-xs-8 mt-xs-8">
                <div class="display-inline-block text-left bb-xs-1 bt-xs-1 p-xs-2">
                    <div class="display-inline-block p-xs-2">
                        <h2 class="h2 mb-xs-1">
                            <span class="ss-tvlg ss-check icon-smaller mr-xs-2 ml-xs-2"></span>
                            No Set Up Fees
                        </h2>
                    </div>
                    <div class="display-inline-block p-xs-2">
                        <h2 class="h2 mb-xs-1">
                            <span class="ss-tvlg ss-check icon-smaller mr-xs-2 ml-xs-2"></span>
                            Custom Promotions
                        </h2>
                    </div>
                    <div class="display-inline-block p-xs-2">
                        <h2 class="h2 mb-xs-1">
                            <span class="ss-tvlg ss-check icon-smaller mr-xs-2 ml-xs-2"></span>
                            Unlimited Listings
                        </h2>
                    </div>
                    <div class="display-inline-block p-xs-2">
                        <h2 class="h2 mb-xs-1">
                            <span class="ss-tvlg ss-check icon-smaller mr-xs-2 ml-xs-2"></span>
                            Free Support
                        </h2>
                    </div>
                </div>
            </div>

            <div class="col-group text-center mb-xs-4 mb-lg-8">
                <div class="col-centered col-xs-12 col-sm-10 col-md-8  col-lg-5 mb-xs-2">
                        <div class="mb-xs-2">
                        <p>
                            </p>
                        </div>
                   <div class="pricing-box-container pt-xs-2 pb-xs-3">
                        <h1 class="very-large-text listing-fee-amount">
                            USD 0.00
                            
                        </h1>
                        <h6>Listing Fee</h6>
                   </div>
                </div>

                <div class="col-centered col-xs-12 col-sm-10 col-md-8 col-lg-5">
                   <p class="mb-xs-3 mt-xs-3">
                        
                            Listing are free to list, there is no restrictions on number of listing Merchant can post.
                        

                    </p>
                    <div class="pricing-box-container clearfix">
                        <div class="pricing-box pt-xs-3 pb-xs-3 pl-xs-2 pr-xs-2 width-half float-left">
                            <h2 class="mb-xs-1 tvlg-commission-amount">20 %</h2>
                            <h6>Transaction Fee</h6>
                        </div>
                        <div class="pricing-box pt-xs-3 pb-xs-3 pl-xs-2 pr-xs-2 width-half float-left">
                            <h2 class="mb-xs-1 payment-processing-amount">Paypal Fee</h2>
                            <h6>Payment Processing</h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-group">
                <div class="col-centered col-xs-12 col-sm-10 col-lg-7">
                    <div class="flag">
                        <div class="encryption-img flag-img">
                           <!-- PayPal Logo --><table border="0" cellpadding="10" cellspacing="0" align="center"><tr><td align="center"></td></tr><tr><td align="center"><a href="https://www.paypal.com/my/webapps/mpp/paypal-popup" title="How PayPal Works" onclick="javascript:window.open('https://www.paypal.com/my/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;"><img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_100x26.png" alt="Buy now with PayPal" /></a></td></tr></table><!-- PayPal Logo -->
                        </div>
                        <div class="flag-body">
                            <p class="text-left">
                                    
                                       Travelog processes the payment using PayPal system. It facilitates all types of payments and transactions. Travelog transfers the funds directly to Merchant PayPal account.
                                    
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-centered col-xs-12 col-md-7 mt-xs-6">
               
                </div>
            </div>
        </div>
    </section>



    <section id="tools" class="section section__tools outer bg-white bt-xs-1">
        <div class="body-max-width-980">
            <div class="col-xs-12 pl-sm-4 pl-md-0 mb-md-4 mb-lg-8 col-centered clearfix">
                <div class="tools-hero-container col-xs-12 col-centered clearfix">
                    <div class="display-table-cell col-xs-12 col-sm-7 col-md-6 col-lg-5 vertical-align-middle float-none">
                        <h1 class="h1 mb-xs-3">
                            Easy to manage & track!
                        </h1>
                        <p class="text-larger text-gray-lighter pr-sm-2">
                            
                               We don't waste your precious time!  Regardless if you are just starting or are an experienced businessman - we have tools to help you optimise your sales as fast as possible.
                            
                        </p>
                    </div>
                    <div class="display-table-cell col-xs-12 col-sm-5 col-md-6 col-lg-7 float-none hide-xs">
                        <div class="tools-hero clearfix">

                            <!-- mobile -->
                            <div class="tools-mobile bg-white">
                                <div class="tools-mobile--speaker"></div>
                                <div class="tools-mobile--window pt-xs-3 pl-xs-2 pr-xs-2">
                                    <div class="clock text-center mb-xs-2">
                                        <time> 2:46</time>
                                    </div>
                                    <div class="notification text-center pt-xs-3">

                                            <div class="notification__text pt-xs-2">
                                                <p class="text-orange">
                                                    You received new Booking!
                                                </p>
                                            </div>
                                    </div>
                                </div>
                                <div class="tools-mobile--button"></div>
                            </div>

                            <!-- browser -->
                            <div class="tools-browser bg-white hide-xs hide-sm">
                                <div class="tools-browser--chrome">
                                    <div class="tools-browser--chrome--dot-red"></div>
                                    <div class="tools-browser--chrome--dot-yellow"></div>
                                    <div class="tools-browser--chrome--dot-green"></div>
                                </div>
                                <div class="tools-browser--window p-xs-6 bg-gray-lighter text-gray">
                                    <h5 class="pb-xs-2">
                                        My Awesome Store
                                    </h5>
                                    <div class="shop-stats">
                                        <ul class="shop-stats-nav list-unstyled text-center text-smaller clearfix">
                                            <li class="active float-left bg-white">
                                                <div class="p-xs-2">
                                                    15 Reservations
                                                </div>
                                            </li>
                                            <li class="float-left bg-gray">
                                                <div class="p-xs-2 text-blue">
                                                    67 Listings
                                                </div>
                                            </li>
                                            <li class="float-left bg-gray">
                                                <div class="p-xs-2 text-blue">
                                                    25 Messages
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="shop-stats-graph">
                                            <img src="https://s3-us-west-2.amazonaws.com/travelog/assets/graph.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-group">
                <div class="col-xs-12 col-lg-6 pl-sm-4 pr-sm-4 pl-md-8 pr-md-8 pl-lg-3 pr-lg-3">
                    <div class="flag mt-xs-8">
                        <div class="tools-img flag-img">
                            <img src="https://s3-us-west-2.amazonaws.com/travelog/assets/devices.svg" width="110">
                        </div>
                        <div class="flag-body">
                            <h2 class="mb-xs-1 mb-lg-2">Manage your business anywhere</h2>
                            <p class="text-larger text-gray-lighter">
                                
                                    Use the Sell on Travelog to manage orders, update items, and respond to your customers on the go.
                                
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-lg-6 pl-sm-4 pr-sm-4 pl-md-8 pr-md-8 pl-lg-3 pr-lg-3">
                    <div class="flag mt-xs-8">
                        <div class="tools-img flag-img">
                            <img src="https://s3-us-west-2.amazonaws.com/travelog/assets/promotion.svg" width="110">
                        </div>
                        <div class="flag-body">
                            <h2 class="mb-xs-1 mb-lg-2">Promotional tools that drive traffic</h2>
                            <p class="text-larger text-gray-lighter">
                                Reach more buyers by promoting your listings in search engine or use our free tools to share your products via social media.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-group">

                <div class="col-xs-12 col-lg-6 pl-sm-4 pr-sm-4 pl-md-8 pr-md-8 pl-lg-3 pr-lg-3">
                    <div class="flag mt-xs-8">
                        <div class="tools-img flag-img">
                            <img src="https://s3-us-west-2.amazonaws.com/travelog/assets/analytic.svg" width="110">
                        </div>
                        <div class="flag-body">
                            <h2 class="mb-xs-1 mb-lg-2">Improve your sales</h2>
                            <p class="text-larger text-gray-lighter">
                                
                                   Create Promotions or Coupons to stay competitive.
                                
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-lg-6 pl-sm-4 pr-sm-4 pl-md-8 pr-md-8 pl-lg-3 pr-lg-3">
                    <div class="flag mt-xs-8">
                        <div class="tools-img flag-img">
                            <img src="https://s3-us-west-2.amazonaws.com/travelog/assets/payments.svg" width="110" data-pin-nopin="true">
                        </div>
                        <div class="flag-body">
                            <h2 class="mb-xs-1 mb-lg-2">Accept payments seamlessly</h2>
                            <p class="text-larger text-gray-lighter">
                                   Manage payment processing via PayPal to make it easy  & safe both for you and your Customer!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



  

    <section id="faq" class="section outer bg-white bt-xs-1">
        <div class="body-max-width-980 pl-xs-4 pr-xs-4 pl-lg-0 pr-lg-0">
            <div class="col-group text-center mb-xs-8">
                <h1 class="h1 mb-xs-3">
                    Frequently Asked Questions
                </h1>
                <p class="text-larger text-gray">
                    Here are some common questions about selling on Travelog.
                </p>
            </div>

            <div class="faq-content col-group prose pt-xs-4">
                <div class="col-xs-12 col-lg-6 pb-xs-6 ">

                        <h2>How do fees work on Travelog?</h2>
                        
                        <p>
                           Opening a store and listing your products are free. There is no expiry date for your Listings. You will be notified immediately if you receive new Reservations. HERE NEED INFORMATION ABOUT OUR COMMISSION
                        </p>
                        
                        <p>
                        </p>
                        

                    <h2>How do I get paid?</h2>
<p>All payments to Merchant are done via PayPal system We will deposit to your PayPal account within 24 hours after completing the Tour / Service. </p>

                </div>
                <div class="col-xs-12 col-lg-6 pb-xs-6">

                        <h2>Do I need a credit or debit card to create a Store?</h2>
<p>No, a credit or debit card is not required to create a Store. To be verified as a Merchant you have to submit your business registration documents.</p>



                        <h2>What can I sell on Travelog?</h2>
<p>No, a credit or debit card is not required to create a store. To be verified as a Merchant you have to submit your business registration documents.</p>

                        <h2>What do I need to do to create a Store?</h2>
<p>In just 3 Simple Steps, you can set up a Store. Set your Store Name, Location and Currency and enjoy your Travelog experience!</p>
                </div>
            </div>
        </div>

        <hr>

        <div class="body-max-width-980 text-center pl-xs-4 pr-xs-4 ">
            <div class="futher-help pt-xs-8">
               
                <div class="further-help-cta text-larger mt-xs-3 ml-xs-2 mr-xs-2"> </div>
            </div>
            <div class="contact-support pt-xs-8">
                
<a href="mailto:support@travelog.com" target="_blank" class="btn btn-success mt-xs-3">
                    Contact Travelog
                </a>

            </div>
        </div>
    </section>


<section id="footer-hero" class="section bg-orange text-white text-center bt-xs-1">
        <div class="body-max-width-980" style="padding: 40px;">
            <h1 class="h1 mb-xs-3">
                Ready to start selling?
            </h1>
            <div class="col-group">
                <div class="col-centered col-xs-12 col-sm-10 col-md-8 col-lg-7 mb-xs-3">
                    <p class="text-larger">
                        With no additional fees, selling on Travelog is a safest and easiest way for you to start your own online Business.
                    </p>
                </div>
            </div>
            <a href="/become_merchant" class="btn btn-white pl-xs-4 pr-xs-4 x_sell-on-tvlg inline-overlay-trigger create-shop-action">
                Get Started
            </a>
        </div>
    </section>


</div>
</div>


<style type="text/css">
.hero {
    background-color: #FF8200;
    background-image: url(https://travelog.s3.amazonaws.com/uploads/product_attachment/attachment/42/large_shutterstock_217758700.jpg);
    background-size: 100% auto;
    background-size: cover;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    border-top: 1px solid #E1E3DF;
    height: 0;
    padding-bottom: 42%;
    position: relative;
    z-index: 2;
    
}
	.hero {
    background-image: url(https://travelog.s3.amazonaws.com/uploads/product_attachment/attachment/42/large_shutterstock_217758700.jpg);
}

.hero .hero-text {
    margin-top: 195px;
}

#footer-hero {
    padding-top: 6%;
    background-color: #FF8200;
    background-image: url(https://travelog.s3.amazonaws.com/uploads/product_attachment/attachment/42/large_shutterstock_217758700.jpg);
    background-size: 100% auto;
    background-size: cover;
    padding-bottom: 0;
    background-position: 0px -295px;
    background-repeat: no-repeat;
    position: relative;
    min-height: 0;
  
}

#footer-hero {
    background-image: url(https://travelog.s3.amazonaws.com/uploads/product_attachment/attachment/42/large_shutterstock_217758700.jpg);
}

.position-left {
    left: 0;
}
.width-full {
    width: 100%;
}

.very-large-text p{
    font-size: 42px;
}
.col-group {
    float: none;
    position: relative;
}
.col-group {
    padding-left: 18px;
    padding-right: 18px;
}
.text-center p{
    text-align: center;
}
.text-white p{
    color: #FFF;
}
.text-white h1{
    color: #FFF;
}
.text-white h2{
    color: #FFF;
}
.text-blue {
    color: #0192B5;
}
.col-xl-6 {
    width: 50%;
}

/*.col-xs-12 {
    width: 100%;
}*/
.mb-xs-5 {
    margin-bottom: 30px;
}


@media only screen and (max-width: 639px) and (min-width: 0) {
	.very-large-text p{
    font-size: 26px;
}
}

section {
    padding-top: 10%;
    padding-bottom: 10%;
}
.section__tools {
    overflow-x: hidden;
}
.bg-white {
    background-color: #FFF;
}
.bg-gray {
    background-color: #F5F5F1;
    border-color: #E1E3DF;
}
.text-center {
    text-align: center;
}
.bt-xs-1 {
    border-top: 1px solid #E1E3DF;
}
.body-max-width-980 {
    max-width: 980px;
    margin: 0 auto;
}
.text-gray {
    color: #444;
}
.pb-xs-2 {
    padding-bottom: 12px;
}
.mb-xs-8 {
    margin-bottom: 48px;
}
.h1 {
    font-size: 28px;
}
.pl-xs-2 {
    padding-left: 12px;
}
.pl-xs-4 {
    padding-left: 24px;
}
.b-xs-1 {
    border: 1px solid #E1E3DF;
}
.intro-props h2, .intro-props .h2 {
    margin-bottom: 12px;
}
.intro-props p {
    color: #888;
    margin-bottom: 6px;
}
h2, .h2 {
    font-size: 20px;
}
h6, .h6 {
    font-family: Arial,sans-serif;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #FFF;
}
.panel {
    border-radius: 3px;
    background-color: #FFF;
    border: 1px solid #E1E3DF;
    border-bottom-color: #CBCCC9;
    margin: 0 0 12px;
}
.display-inline-block {
    display: inline-block;
}
.pr-xs-2 {
    padding-right: 12px;
}
.pl-xs-2 {
    padding-left: 12px;
}
.pl-md-0 {
    padding-left: 0px;
}
.pb-xs-3 {
    padding-bottom: 18px;
}
.pt-xs-3 {
    padding-top: 18px;
}
.pt-xs-8 {
    padding-top: 48px;
}
.pl-lg-3 {
    padding-left: 18px;
}
.pr-lg-3 {
    padding-right: 18px;
}
.pr-xs-4 {
    padding-right: 24px;
}
.col-lg-7 {
    width: 58.33333%;
}
.col-lg-6 {
    width: 50%;
}

.col-md-4 {
    width: 33.33333%;
}
.col-xl-10 {
    width: 83.33333%;
}
.pb-xs-6 {
    padding-bottom: 36px;
}
.p-xs-4 {
    padding: 24px;
}
.pr-xs-6 {
    padding-right: 36px;
}
.pl-xs-6 {
    padding-left: 36px;
}
.p-xs-2 {
    padding: 12px;
}
.pr-sm-2 {
    padding-right: 12px;
}
.p-xs-6 {
    padding: 36px;
}
.bg-white {
    background-color: #FFF;
}
.intro-cta-image {
    margin-top: -50%;
}
.text-gray-lighter {
    color: #777;
}
.mb-xs-1 {
    margin-bottom: 6px;
}
.mt-xs-2 {
    margin-top: 12px;
}
.mb-xs-3 {
    margin-bottom: 18px;
}
.mb-xs-8 {
    margin-bottom: 48px;
}
.ml-xs-2 {
    margin-left: 12px;
}
.mr-xs-2 {
    margin-right: 12px;
}
.mb-xs-2 {
    margin-bottom: 12px;
}
.mb-xs-3 {
    margin-bottom: 18px;
}
.mt-xs-3 {
    margin-top: 18px;
}
.mb-lg-8 {
    margin-bottom: 48px;
}
.mt-xs-8 {
    margin-top: 48px;
}
.mb-md-0 {
    margin-bottom: 0px;
}
.m-xs-3 {
    margin: 18px;
}
.btn-white {
	background-color: #FFF;
}
.bg-blue {
    background-color: #34A8C4;
    border-color: rgba(0, 0, 0, 0.1);
}
.text-left {
    text-align: left;
}
.bb-xs-1 {
    border-bottom: 1px solid #E1E3DF;
}
.icon-smaller {
    font-size: 12px;
}
.ss-check:before, .ss-check.right:after {
    content: '✓';
}
.ss-icon, .ss-tvlg {
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    vertical-align: middle;
    color: #fff;
}
.pricing-box-container {
    border-radius: 8px;
    border: 1px solid #0192B5;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.pricing-box:first-child {
    border-right: 1px solid #0192B5;
}
.width-half {
    width: 50%;
}
.float-left {
    float: left;
}
.float-none {
    float: none;
}
.flag {
    display: table;
    width: 100%;
}
.flag-body, .flag-img {
    display: table-cell;
    vertical-align: middle;
}
.flag-img img {
    display: block;
}
.encryption-img img {
    max-width: none;
}
.flag-img {
    padding-right: 12px;
}
.flag-body {
    width: 100%;
}
.col-group:before, .col-group:after {
    content: " ";
    display: table;
}
.vertical-align-middle {
    vertical-align: middle;
}
.display-table-cell {
    display: table-cell;
}
.tools-hero {
    position: relative;
    min-height: 330px;
    margin-right: -9999px;
}
.tools-mobile {
    position: absolute;
    left: 0;
    bottom: 0;
    border: 5px solid #EEEEEE;
    border-radius: 24px;
    width: 170px;
    height: 326px;
}
.tools-mobile--speaker {
    background: #EEEEEE;
    width: 40px;
    height: 5px;
    border-radius: 3px;
    position: absolute;
    top: 18px;
    left: 50%;
    margin-left: -20px;
}
.tools-mobile--window .clock {
    color: #CCCCCC;
    font-size: 24px;
}
.tools-mobile--window .notification {
    border-top: 2px solid #EEEEEE;
}
.tools-mobile--window .alert-tvlg-icon {
    display: inline-block;
    padding: 4px 6px 1px;
    border: 1px solid #F56400;
    border-radius: 3px;
}
.text-orange {
    color: #F56400;
}
.tools-mobile--window .notification .notification__text {
    line-height: 1.2;
}
.tools-mobile--window {
    position: absolute;
    top: 40px;
    bottom: 50px;
    left: 17px;
    right: 17px;
    border: 5px solid #EEEEEE;
    border-radius: 4px;
}
.tools-mobile--button {
    width: 30px;
    height: 30px;
    border: 5px solid #EEEEEE;
    border-radius: 15px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -15px;
}
.tools-browser {
    border: 5px solid #EEEEEE;
    border-radius: 8px;
    width: 550px;
    height: 400px;
    float: left;
    margin-left: 195px;
}
.tools-browser--chrome {
    padding: 4px 6px;
    border-bottom: 5px solid #EEEEEE;
}
.tools-browser--chrome--dot-red {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-left: 1px;
    background-color: #EA1C1C;
    display: inline-block;
}
.tools-browser--chrome--dot-yellow {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-left: 1px;
    background-color: #ECCF00;
    display: inline-block;
}
.tools-browser--chrome--dot-green {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-left: 1px;
    background-color: #21D627;
    display: inline-block;
}
.tools-browser--window .shop-stats {
    border: 2px solid #EEEEEE;
    overflow: hidden;
}
.list-unstyled {
    list-style: none;
    padding-left: 0;
}
.shop-stats-nav li {
    width: 33.3%;
    margin: 0;
}
.shop-stats-nav li div {
    border-bottom: 2px solid #EEEEEE;
    border-right: 2px solid #EEEEEE;
}
.shop-stats-nav li:first-child div {
    border-bottom: 2px solid #FFFFFF;
}
.tools-img img {
    max-width: none;
}
.sell-group {
    border-radius: 6px;
    overflow: hidden;
}
.group-images img {
    display: block;
    overflow: hidden;
    float: left;
    width: 50%;
}
.text-larger {
    font-size: 114.28%;
}
.col-centered {
    float: none;
    margin-left: auto;
    margin-right: auto;
}
section#selling {
    background-position: center top;
    background-size: 800px auto;
}
@media only screen and (min-width: 900px) {
.col-group {
    padding-left: 18px;
    padding-right: 18px;
}
}
.prose {
    margin: 0 0 12px;
    line-height: 1.71429;
}
</style>