<% content_for :meta do %>
<meta name="description" content="Learn more about Travelog in the news, press releases and blogs">
<% end %>

<% content_for :page_title do %>
Press Release - Travelog.com
<% end %>

<section class="header-11-sub profile-page">
	<div class="container">
		<div class="row ">
			<div class="col-md-3">

				<ul class="sidebar-static">
					<li><a href="https://twitter.com/travelogcom">Travelog News</a></li>
					
				</ul>
			</div>

			<div class="col-md-9 aboutus-content">

				

				<h1 class="h4-behave">Travelog in the News</h1>
				<hr>

				<div class="panel press-content row-space-6">
				<div class="panel-body">
				<div class="row row-space-4">
				<div class="col-6">
					<a href="http://asia.etbtravelnews.com/280926/travelog-com-launches-for-travellers-to-malaysia/"><img alt="" height="70" src="https://s3-us-west-2.amazonaws.com/travelog/press/ETB-logo-1250-1250-new-travelnews202x162.jpg" width="100" data-pin-nopin="true"></a>
					<br>
					<a href="http://asia.etbtravelnews.com/280926/travelog-com-launches-for-travellers-to-malaysia/">Travelog.com launches for travellers to Malaysia</a>
					<br>
					<small>Feb 26, 2016</small>
				</div>
				</div>
				</div>
				</div>
				<h6>Contact us at <a href="mailto:support@travelog.com">support@travelog.com</a>.</h6>

				<br>
				
				<h4>Visit Us</h4>
				<h6>Travelog.com</h6>
				<h6>2A-C, JALAN USJ 10/1A, SUBANG JAYA</h6>
				<h6>47620, SELANGOR</h6>

			</div>
		</div>
	</div>
</section>