
<div class="col-xs-12 col-sm-3 col-md-3 sidebar-profile-dashboard">
	<ul class="sidebar-static">
	  <li><%= link_to 'Edit Accounts', accounts_path %></li>
	  <li><%= link_to 'Getting Paid', getting_paid_user_path %></li>
	  <li><%= link_to 'Upload Store Logo', accounts_photo_path %></li>
	  <li><%= link_to 'Store Verification', account_document_user_path %></li>
	</ul>
	<!-- <a href="" class="btn btn-viewprofile">View Accounts</a> -->
</div>