<div class="how-it-works-container">
<div class="container-fluid">
<div class="row row-space-top-4 row-space-6">
<div class="col-md-4">
<div class="panel-body text-center">
<div class="how-it-works-image image1"></div>
<h3>Find a Destination</h3>
<p>Travelog makes it easier for you to find the Activities that interest you most.</p>
</div>
</div>
<div class="col-md-4">
<div class="panel-body text-center">
<div class="how-it-works-image image2"></div>
<h3>Choose a Date</h3>
<p>Found the Activities you want? It's only 2 steps away to book your favourite Activites.</p>
</div>
</div>
<div class="col-md-4">
<div class="panel-body text-center">
<div class="how-it-works-image image3"></div>
<h3>Enjoy</h3>
<p>Enjoy you memorable experiences with Travelog!</p>
</div>
</div>
</div>
</div>
</div>

<style type="text/css">
	.how-it-works-container {
    background: #1e3039 url("https://s3-us-west-2.amazonaws.com/travelog/assets/world-map.png") no-repeat scroll 43% 2px;
}

@media (min-width: 1100px)
.container-fluid {
    width: 1045px;
}
.how-it-works-container .how-it-works-image {
    height: 160px;
    margin: 0 auto;
    max-width: 283px;
}
.how-it-works-container .how-it-works-image.image1 {
    background: url("https://s3-us-west-2.amazonaws.com/travelog/assets/travelog-find-a-tour.png") center 0 no-repeat;
    background-size: cover;
}
.how-it-works-container .how-it-works-image.image2 {
    background: url("https://s3-us-west-2.amazonaws.com/travelog/assets/travelog-book-a-tour.png") center 0 no-repeat;
    background-size: cover;
}
.how-it-works-container .how-it-works-image.image3 {
    background: url("https://s3-us-west-2.amazonaws.com/travelog/assets/travelog-how-it-works.png") center 0 no-repeat;
    background-size: cover;
}
.how-it-works-container h3 {
    margin-top: 1em;
    color: #fff;
}
.how-it-works-container p {
    color: #fff;
}
.panel-body>*:last-child {
    margin-bottom: 0;
}
</style>